body {
    display: flex;
    margin: 0;
    padding: 0;
}

aside {
    flex-basis: 15vw;
    background-color: aqua;
    margin: 0;
    /* padding: 1vmin; */
}

.profile {
    display: flex;
    flex-direction: column;
    height: 15vw;
    align-items: center;
    justify-content: center;
}

.aside-menu {
    padding: 2vw 1vw;
    box-shadow: 0px -4px rgba(0, 0, 0, 0.1);
    /* border-top: 1px solid black; */
}

.aside-menu > li {
    margin: 0.5vw;
}

.aside-menu > input {
    margin: 0.5vw;
    /* border: none; */
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > button {
    /* height: 10vmin; */
    width: 6vw;
    height: 6vw;
    margin: 0;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}

.search-bar {
    width: 61vw;
    height: 6vw;
    margin: 0;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    padding-left: 5vmin;
    /* height: 10vmin; */
}

main {
    flex-basis: 85vw;
}

header {
    display: flex;
    flex-direction: column;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 5vw;
}

.round-icon {
    height: 4vw;
    width: 4vw;
    border-radius: 100%;
    border: 1px solid black;
}

.preview {
    color: blue;
}

.content {
    background-color: bisque;
    padding-bottom: 10vmin;
}

.tabs {
    border: none;
    list-style: none;
    display: flex;
}

li {
    list-style: none;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

.tab {
    display: block;
    float: left;
    margin: 3vmin;
}

.graphs {
    display: flex;
    justify-content: space-between;
}

.pie-chart {
    margin-top: 10vmin;
    margin-left: 15vmin;
}

.collapse-button {
    margin-left: 70vmin;
}

article {
    padding: 5vmin;
}

.article-header {
    display: flex;
    background-color: cornflowerblue;
}

.article-section {
    display: flex;
    background-color: aquamarine;
    border-bottom: 1px solid black;
    border-bottom-width: 90%;
}

.article-and-links {
    display: flex;
}

.article-links {
    padding: 5vmin;
}

.social-button {
    width: 15vw;
    height: 3vw;
}

.headshot {
    width: 8vw;
    border-radius: 100%;
}

.bar-graph {
    width: 30vmin;
    margin-right: 5vmin;
}

button {
    margin: 3vmin;
    padding: 2vmin;
}


