body {
    display: flex;
    margin: 0;
    padding: 0;
}

aside {
    flex-basis: 15%;
    background-color: aqua;
    margin: 0;
    padding: 1vmin;
}

main {
    flex-basis: 85%;
}

header {
    display: flex;
    flex-direction: column;
}

.headline {
    display: flex;
    justify-content: space-between;
}

.content {
    background-color: bisque;
    padding-bottom: 10vmin;
}

.tabs {
    list-style: none;
    display: flex;
}

li {
    list-style: none;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

.tab {
    display: block;
    float: left;
    margin: 3vmin;
}

.graphs {
    display: flex;
    justify-content: space-between;
}

.pie-chart {
    margin-top: 10vmin;
    margin-left: 15vmin;
}

.collapse-button {
    margin-left: 70vmin;
}

article {
    padding: 5vmin;
}

.article-header {
    display: flex;
    background-color: cornflowerblue;
}

.article-section {
    display: flex;
    background-color: aquamarine;
    border-bottom: 1px solid black;
    border-bottom-width: 90%;
}

.article-and-links {
    display: flex;
}

.article-links {
    padding: 5vmin;
}

.headshot {
    width: 10vmin;
    border-radius: 100%;
}

.bar-graph {
    width: 30vmin;
    margin-right: 5vmin;
}

button {
    margin: 3vmin;
    padding: 2vmin;
}


